@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 200px;
}

body {
    font-family: Roboto, sans-serif;
    background: white;
    display: flex;
    flex-direction: column;
}

/* Header */

.header {
    height: 530px;
    background: #1f2937;
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.header h1 {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 25px;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
    padding: 0;
}

a {
    color: #e5e7f8;
    font-size: 18px;
    text-decoration: none;
}

.lower-header {
   display: flex;
   margin-top: 100px;
   gap: 25px;
}

.header-text {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-right: 35px;
}

.header-text h2 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: extra-bold;
    margin:0;
}

.header-text p {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    overflow-wrap: break-word;
}

.placeholder {
    background: grey;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
}

.sign-up {
    background: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 35px;
    border-radius: 10px;
    border: solid #3882f6;
}

/* Information */

.information {
    height: 500px;
}

.title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    text-align: center;
}

.info {
    max-width: 165px;
}

.box {
    border: #3882f6 solid 3px;
    width: 160px;
    height: 160px;
    border-radius: 10px;
}

.info-text {
    color: #c1c6cf;
    font-size: 18px;
    padding-top: 10px;
}

/* Quote */

.quote {
    height: 430px;
    display: flex;
    flex-direction: column;
    background: #e5e7eb;
    color: #1f2937;
    justify-content: center;
    align-items: center;
}

.quote-container {
    max-width: 790px;
    margin: 0;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    text-align: left;
    margin: 0;  
}

.author {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: end;
    margin: 0;
}

/* Call to Action */

.call-to-action {
    height: 135px;
    background: #3882f6;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 200px;
    border-radius: 5px;
}

.cta-text h3 {
    margin: 0;
    font-size: 20px;
}
.cta-text p {
    margin: 0;
    color: #e5e7eb;
}

.call-to-action button {
        background: #3882f6;
        color: #f9faf8;
        font-size: 18px;
        font-weight: bold;
        padding: 5px 35px;
        border-radius: 10px;
        border: solid #f9faf8 2px;
}

/* Footer */

footer {
    background: #1f2937;
    color: #f9faf8;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}